# Fichiers objets
*.o

# Fichier exécutable
main

# Répertoire des fichiers objets
obj/

# Fichiers temporaires ou de sauvegarde
*~

# Fichiers de configuration spécifiques à l'environnement de développement
.vscode/
.idea/
.clang-format

# Fichiers de dépendances générés par les outils de construction
CMakeLists.txt.user
compile_commands.json
